Repository deliretzua/homebrew-core, changes with the owners that CODEOWNERS names for each.
All owners: @MikeMcQuaid, @Homebrew/plc, @Homebrew/tsc, @carlocab

flyway 9.10.2
  Formula/flyway.rb
Owners: none

flyway: update 9.10.2 bottle.
  Formula/flyway.rb
Owners: none

scrcpy 1.25
  Formula/scrcpy.rb
Owners: none

scrcpy: update 1.25 bottle.
  Formula/scrcpy.rb
Owners: none

leapp-cli: update 0.1.27 bottle.
  Formula/leapp-cli.rb
Owners: none

leapp-cli 0.1.27
  Formula/leapp-cli.rb
Owners: none

ruby: Build with Rust (needed to build new JIT) and Homebrew's Bison (because the version in macOS is too old).
  Formula/ruby.rb
Owners: none

mesheryctl 0.6.36
  Formula/mesheryctl.rb
Owners: none

mesheryctl: update 0.6.36 bottle.
  Formula/mesheryctl.rb
Owners: none

qt: use brewed harfbuzz
  Formula/qt.rb
Owners: @Homebrew/tsc

qt: update 6.4.1_1 bottle.
  Formula/qt.rb
Owners: @Homebrew/tsc

webkitgtk 2.38.3
  Formula/webkitgtk.rb
Owners: @Homebrew/tsc

webkitgtk: update 2.38.3 bottle.
  Formula/webkitgtk.rb
Owners: @Homebrew/tsc

wikibase-cli 16.3.0 (new formula)
  Formula/wikibase-cli.rb
Owners: none

wikibase-cli: add 16.3.0 bottle.
  Formula/wikibase-cli.rb
Owners: none

sofia-sip 1.13.10
  Formula/sofia-sip.rb
Owners: none

sofia-sip: update 1.13.10 bottle.
  Formula/sofia-sip.rb
Owners: none

ISSUE_TEMPLATE/bug: nudge people to discussions. (#118749)
  .github/ISSUE_TEMPLATE/bug.yml
Owners: @MikeMcQuaid, @Homebrew/tsc

dolt 0.51.14
  Formula/dolt.rb
Owners: none

dolt: update 0.51.14 bottle.
  Formula/dolt.rb
Owners: none

fheroes2 1.0.0
  Formula/fheroes2.rb
Owners: none

fheroes2: update 1.0.0 bottle.
  Formula/fheroes2.rb
Owners: none

imlib2 1.10.0
  Formula/imlib2.rb
Owners: none

imlib2: update 1.10.0 bottle.
  Formula/imlib2.rb
Owners: none

erlang: add ODBC support using unixodbc
  Formula/erlang.rb
  Formula/erlang@23.rb
  Formula/erlang@24.rb
Owners: none

erlang@24: update 24.3.4.6 bottle.
  Formula/erlang@24.rb
Owners: none

erlang: update 25.2 bottle.
  Formula/erlang.rb
Owners: none

erlang@23: update 23.3.4.18 bottle.
  Formula/erlang@23.rb
Owners: none

z3: migrate to `python@3.11`
  Formula/z3.rb
Owners: none

z3: update 4.11.2_1 bottle.
  Formula/z3.rb
Owners: none

media-info 22.12
  Formula/media-info.rb
Owners: none

media-info: update 22.12 bottle.
  Formula/media-info.rb
Owners: none

mesheryctl 0.6.37
  Formula/mesheryctl.rb
Owners: none

mesheryctl: update 0.6.37 bottle.
  Formula/mesheryctl.rb
Owners: none

gh 2.21.0
  Formula/gh.rb
Owners: none

gh: update 2.21.0 bottle.
  Formula/gh.rb
Owners: none

dvc 2.38.1
  Formula/dvc.rb
Owners: none

dvc: update 2.38.1 bottle.
  Formula/dvc.rb
Owners: none

pypy 7.3.10
  Formula/pypy.rb
Owners: none

pypy: update 7.3.10 bottle.
  Formula/pypy.rb
Owners: none

CODEOWNERS:

# Note that the naming of this file is incorrect for our case: these people do not "own" the provided files but are
# people with write-access to this repository (i.e. @Homebrew/core) who wish to approve changes to these files.
#
# Their review is required to merge PRs that change these files.
#
# To be explicit: we will never accept changes to this file adding people from outside the Homebrew GitHub
# organisation. If you are not a Homebrew maintainer: you do not personally "own" or "maintain" any formulae.

CODEOWNERS            @MikeMcQuaid @Homebrew/plc @Homebrew/tsc
CONTRIBUTING.md       @MikeMcQuaid @Homebrew/tsc
tap_migrations.json   @MikeMcQuaid @Homebrew/tsc
.github/              @MikeMcQuaid @Homebrew/tsc
cmd/                  @MikeMcQuaid

LICENSE.txt           @Homebrew/plc @MikeMcQuaid

audit_exceptions/permitted_formula_license_mismatches.json              @Homebrew/plc
audit_exceptions/provided_by_macos_depends_on_allowlist.json            @Homebrew/tsc
audit_exceptions/universal_binary_allowlist.json                        @carlocab @Homebrew/tsc
audit_exceptions/versioned_formula_dependent_conflicts_allowlist.json   @Homebrew/tsc

# TODO: Remove when https://github.com/Homebrew/homebrew-core/pull/113512 is merged.
Formula/apngasm.rb             @Homebrew/tsc
Formula/boost.rb               @Homebrew/tsc
Formula/boost@1.76.rb          @Homebrew/tsc
Formula/chakra.rb              @Homebrew/tsc
Formula/clickhouse-odbc.rb     @Homebrew/tsc
Formula/couchdb.rb             @Homebrew/tsc
Formula/dotnet.rb              @Homebrew/tsc
Formula/dotnet@6.rb            @Homebrew/tsc
Formula/dwdiff.rb              @Homebrew/tsc
Formula/easyrpg-player.rb      @Homebrew/tsc
Formula/freeciv.rb             @Homebrew/tsc
Formula/freeling.rb            @Homebrew/tsc
Formula/harfbuzz.rb            @Homebrew/tsc
Formula/hfstospell.rb          @Homebrew/tsc
Formula/libcdr.rb              @Homebrew/tsc
Formula/libfreehand.rb         @Homebrew/tsc
Formula/libical.rb             @Homebrew/tsc
Formula/liblcf.rb              @Homebrew/tsc
Formula/libmspub.rb            @Homebrew/tsc
Formula/libphonenumber.rb      @Homebrew/tsc
Formula/libpsl.rb              @Homebrew/tsc
Formula/libvisio.rb            @Homebrew/tsc
Formula/libxml2.rb             @Homebrew/tsc
Formula/libxslt.rb             @Homebrew/tsc
Formula/manticoresearch.rb     @Homebrew/tsc
Formula/mapnik.rb              @Homebrew/tsc
Formula/mimic.rb               @Homebrew/tsc
Formula/mpd.rb                 @Homebrew/tsc
Formula/mysql.rb               @Homebrew/tsc
Formula/node.rb                @Homebrew/tsc
Formula/node@10.rb             @Homebrew/tsc
Formula/node@12.rb             @Homebrew/tsc
Formula/node@14.rb             @Homebrew/tsc
Formula/node@16.rb             @Homebrew/tsc
Formula/node@18.rb             @Homebrew/tsc
Formula/openrct2.rb            @Homebrew/tsc
Formula/pazpar2.rb             @Homebrew/tsc
Formula/percona-server.rb      @Homebrew/tsc
Formula/percona-xtrabackup.rb  @Homebrew/tsc
Formula/php.rb                 @Homebrew/tsc
Formula/php@7.4.rb             @Homebrew/tsc
Formula/php@8.0.rb             @Homebrew/tsc
Formula/php@8.1.rb             @Homebrew/tsc
Formula/planck.rb              @Homebrew/tsc
Formula/postgresql@10.rb       @Homebrew/tsc
Formula/postgresql@11.rb       @Homebrew/tsc
Formula/postgresql@12.rb       @Homebrew/tsc
Formula/postgresql@13.rb       @Homebrew/tsc
Formula/postgresql@14.rb       @Homebrew/tsc
Formula/postgresql@15.rb       @Homebrew/tsc
Formula/qt.rb                  @Homebrew/tsc
Formula/rakudo-star.rb         @Homebrew/tsc
Formula/sile.rb                @Homebrew/tsc
Formula/spidermonkey.rb        @Homebrew/tsc
Formula/spidermonkey@78.rb     @Homebrew/tsc
Formula/tarantool.rb           @Homebrew/tsc
Formula/tectonic.rb            @Homebrew/tsc
Formula/tepl.rb                @Homebrew/tsc
Formula/tracker.rb             @Homebrew/tsc
Formula/urweb.rb               @Homebrew/tsc
Formula/vte3.rb                @Homebrew/tsc
Formula/webkitgtk.rb           @Homebrew/tsc
Formula/widelands.rb           @Homebrew/tsc
Formula/yaz.rb                 @Homebrew/tsc
Formula/zebra.rb               @Homebrew/tsc
Formula/zk.rb                  @Homebrew/tsc
Formula/znc.rb                 @Homebrew/tsc
Formula/zorba.rb               @Homebrew/tsc
